@use 'sass:color';
@use 'utils' as *;
@use 'variables' as *;

@tailwind base;
@tailwind components;
@tailwind utilities;

/*
 * NOTE: Most of colors are in HSL color model.
 *
 * @see:
 *
 * - https://www.w3schools.com/colors/colors_hsl.asp
 * - https://htmlcolors.com/hex-to-hsl
 *
 * RGB colors:
 *
 * - https://developer.mozilla.org/en-US/docs/Web/CSS/color_value/rgb
 *
 * See also:
 *
 * - https://medium.com/@oodri/tailwind-dynamic-color-theme-solution-4351d0495c7f
 */

@layer base {
  :root {
    // NOTE: See also (duplicating) definitions in: `config/theme.ts`

    // Core colors

    --primaryColor: #{$primaryColor};
    --primaryColorRGB: #{rgbComponents($primaryColor)};
    --primaryForegroundColor: #{$primaryForegroundColor};
    --primaryForegroundColorRGB: #{rgbComponents($primaryForegroundColor)};

    --secondaryColor: #{$secondaryColor};
    --secondaryColorRGB: #{rgbComponents($secondaryColor)};
    --secondaryForegroundColor: #{$secondaryForegroundColor};
    --secondaryForegroundColorRGB: #{rgbComponents($secondaryForegroundColor)};

    --appOrangeColor: #{$appOrangeColor};
    --appOrangeColorRGB: #{rgbComponents($appOrangeColor)};
    --appOrangeForegroundColor: #{$appOrangeForegroundColor};
    --appOrangeForegroundColorRGB: #{rgbComponents($appOrangeForegroundColor)};

    --appBlueColor: #{$appBlueColor};
    --appBlueColorRGB: #{rgbComponents($appBlueColor)};
    --appBlueForegroundColor: #{$appBlueForegroundColor};
    --appBlueForegroundColorRGB: #{rgbComponents($appBlueForegroundColor)};

    --appDestructiveColor: #{$appDestructiveColor};
    --appDestructiveColorRGB: #{rgbComponents($appDestructiveColor)};
    --appDestructiveForegroundColor: #{$appDestructiveForegroundColor};
    --appDestructiveForegroundColorRGB: #{rgbComponents($appDestructiveForegroundColor)};

    // Dimensions

    --borderRadiusSize: 0.5rem;

    // Chart colors

    // XXX: OLD
    // --chart1ColorHSL: 43 100% 50%; // 271.5 81.3% 55.9%;
    // --chart2ColorHSL: 43 100% 60%; // 270 95% 75%;
    // --chart3ColorHSL: 43 100% 70%; // 270 91% 65%;
    // --chart4ColorHSL: 43 100% 80%; // 269 97% 85%;
    // --chart5ColorHSL: 43 100% 90%; // 269 100% 92%;

    --chart1Color: #{$chart1Color};
    --chart1ColorRGB: #{rgbComponents($chart1Color)};
    --chart2Color: #{$chart2Color};
    --chart2ColorRGB: #{rgbComponents($chart2Color)};
    --chart3Color: #{$chart3Color};
    --chart3ColorRGB: #{rgbComponents($chart3Color)};
    --chart4Color: #{$chart4Color};
    --chart4ColorRGB: #{rgbComponents($chart4Color)};
    --chart5Color: #{$chart5Color};
    --chart5ColorRGB: #{rgbComponents($chart5Color)};

    // Adaptive layouts

    --smallTreshold: #{$smallTreshold};
    --mobileTreshold: #{$mobileTreshold};
    --wideTreshold: #{$wideTreshold};

    // Delays

    --transitionTimeMs: #{$transitionTimeMs};
    --animationTimeMs: #{$animationTimeMs};
    --disappearTimeMs: #{$disappearTimeMs};

    // Themed colors (with HSL, regexp): \<\(backgroundColorHSL\|foregroundColorHSL\|cardColorHSL\|cardForegroundColorHSL\|popoverColorHSL\|popoverForegroundColorHSL\|primaryColorHSL\|primaryForegroundColorHSL\|secondaryColorHSL\|secondaryForegroundColorHSL\|mutedColorHSL\|mutedForegroundColorHSL\|accentColorHSL\|accentForegroundColorHSL\|destructiveColorHSL\|destructiveForegroundColorHSL\|borderColorHSL\|inputColorHSL\|ringColorHSL\)\>
    // Themed colors (bare, regexp): \<\(backgroundColor\|foregroundColor\|cardColor\|cardForegroundColor\|popoverColor\|popoverForegroundColor\|primaryColor\|primaryForegroundColor\|secondaryColor\|secondaryForegroundColor\|mutedColor\|mutedForegroundColor\|accentColor\|accentForegroundColor\|destructiveColor\|destructiveForegroundColor\|borderColor\|inputColor\|ringColor\)

    // Themed light colors

    // XXX: OLD
    // --backgroundColorHSL: 0 0% 100%;
    // --foregroundColorHSL: 0 0% 3.9%;
    // --cardColorHSL: 0 0% 100%;
    // --cardForegroundColorHSL: 0 0% 3.9%;
    // --popoverColorHSL: 0 0% 100%;
    // --popoverForegroundColorHSL: 0 0% 3.9%;
    // --mutedColorHSL: 0 0% 96.1%;
    // --mutedForegroundColorHSL: 0 0% 45.1%;
    // --accentColorHSL: 0 0% 98%;
    // --accentForegroundColorHSL: 0 0% 9%;
    // --destructiveColorHSL: 0 84.2% 60.2%;
    // --destructiveForegroundColorHSL: 0 0% 98%;
    // --borderColorHSL: 0 0% 89.8%;
    // --inputColorHSL: 0 0% 89.8%;
    // --ringColorHSL: 0 0% 3.9%;

    --backgroundLightColor: #{$backgroundLightColor};
    --backgroundLightColorRGB: #{rgbComponents($backgroundLightColor)};
    --foregroundLightColor: #{$foregroundLightColor};
    --foregroundLightColorRGB: #{rgbComponents($foregroundLightColor)};

    --backgroundDarkColor: #{$backgroundDarkColor};
    --backgroundDarkColorRGB: #{rgbComponents($backgroundDarkColor)};
    --foregroundDarkColor: #{$foregroundDarkColor};
    --foregroundDarkColorRGB: #{rgbComponents($foregroundDarkColor)};

    --backgroundColor: #{$backgroundLightColor};
    --backgroundColorRGB: #{rgbComponents($backgroundLightColor)};
    --foregroundColor: #{$foregroundLightColor};
    --foregroundColorRGB: #{rgbComponents($foregroundLightColor)};
    --cardColor: #{$cardLightColor};
    --cardColorRGB: #{rgbComponents($cardLightColor)};
    --cardForegroundColor: #{$cardForegroundLightColor};
    --cardForegroundColorRGB: #{rgbComponents($cardForegroundLightColor)};
    --popoverColor: #{$popoverLightColor};
    --popoverColorRGB: #{rgbComponents($popoverLightColor)};
    --popoverForegroundColor: #{$popoverForegroundLightColor};
    --popoverForegroundColorRGB: #{rgbComponents($popoverForegroundLightColor)};
    --mutedColor: #{$mutedLightColor};
    --mutedColorRGB: #{rgbComponents($mutedLightColor)};
    --mutedForegroundColor: #{$mutedForegroundLightColor};
    --mutedForegroundColorRGB: #{rgbComponents($mutedForegroundLightColor)};
    --accentColor: #{$accentLightColor};
    --accentColorRGB: #{rgbComponents($accentLightColor)};
    --accentForegroundColor: #{$accentForegroundLightColor};
    --accentForegroundColorRGB: #{rgbComponents($accentForegroundLightColor)};
    --destructiveColor: #{$destructiveLightColor};
    --destructiveColorRGB: #{rgbComponents($destructiveLightColor)};
    --destructiveForegroundColor: #{$destructiveForegroundLightColor};
    --destructiveForegroundColorRGB: #{rgbComponents($destructiveForegroundLightColor)};
    --borderColor: #{$borderLightColor};
    --borderColorRGB: #{rgbComponents($borderLightColor)};
    --inputColor: #{$inputLightColor};
    --inputColorRGB: #{rgbComponents($inputLightColor)};
    --ringColor: #{$ringLightColor};
    --ringColorRGB: #{rgbComponents($ringLightColor)};
  }

  .dark {
    // Themed dark colors

    // XXX: OLD
    // --primaryColorHSL: 0 0% 98%;
    // --primaryForegroundColorHSL: 0 0% 9%;
    // --secondaryColorHSL: 0 0% 14.9%;
    // --secondaryForegroundColorHSL: 0 0% 98%;
    // --backgroundColorHSL: 0 0% 3.9%;
    // --foregroundColorHSL: 0 0% 98%;
    // --cardColorHSL: 0 0% 3.9%;
    // --cardForegroundColorHSL: 0 0% 98%;
    // --popoverColorHSL: 0 0% 3.9%;
    // --popoverForegroundColorHSL: 0 0% 98%;
    // --mutedColorHSL: 0 0% 14.9%;
    // --mutedForegroundColorHSL: 0 0% 63.9%;
    // --accentColorHSL: 0 0% 8%;
    // --accentForegroundColorHSL: 0 0% 98%;
    // --destructiveColorHSL: 0 62.8% 30.6%;
    // --destructiveForegroundColorHSL: 0 0% 98%;
    // --borderColorHSL: 0 0% 14.9%;
    // --inputColorHSL: 0 0% 14.9%;
    // --ringColorHSL: 0 0% 83.1%;

    --backgroundColor: #{$backgroundDarkColor};
    --backgroundColorRGB: #{rgbComponents($backgroundDarkColor)};
    --foregroundColor: #{$foregroundDarkColor};
    --foregroundColorRGB: #{rgbComponents($foregroundDarkColor)};
    --cardColor: #{$cardDarkColor};
    --cardColorRGB: #{rgbComponents($cardDarkColor)};
    --cardForegroundColor: #{$cardForegroundDarkColor};
    --cardForegroundColorRGB: #{rgbComponents($cardForegroundDarkColor)};
    --popoverColor: #{$popoverDarkColor};
    --popoverColorRGB: #{rgbComponents($popoverDarkColor)};
    --popoverForegroundColor: #{$popoverForegroundDarkColor};
    --popoverForegroundColorRGB: #{rgbComponents($popoverForegroundDarkColor)};
    --mutedColor: #{$mutedDarkColor};
    --mutedColorRGB: #{rgbComponents($mutedDarkColor)};
    --mutedForegroundColor: #{$mutedForegroundDarkColor};
    --mutedForegroundColorRGB: #{rgbComponents($mutedForegroundDarkColor)};
    --accentColor: #{$accentDarkColor};
    --accentColorRGB: #{rgbComponents($accentDarkColor)};
    --accentForegroundColor: #{$accentForegroundDarkColor};
    --accentForegroundColorRGB: #{rgbComponents($accentForegroundDarkColor)};
    --destructiveColor: #{$destructiveDarkColor};
    --destructiveColorRGB: #{rgbComponents($destructiveDarkColor)};
    --destructiveForegroundColor: #{$destructiveForegroundDarkColor};
    --destructiveForegroundColorRGB: #{rgbComponents($destructiveForegroundDarkColor)};
    --borderColor: #{$borderDarkColor};
    --borderColorRGB: #{rgbComponents($borderDarkColor)};
    --inputColor: #{$inputDarkColor};
    --inputColorRGB: #{rgbComponents($inputDarkColor)};
    --ringColor: #{$ringDarkColor};
    --ringColorRGB: #{rgbComponents($ringDarkColor)};
  }
}

@layer base {
  * {
    @apply border-border;
  }

  body {
    @apply bg-background text-foreground;
    font-feature-settings:
      'rlig' 1,
      'calt' 1;
  }
}

@layer utilities {
  .step {
    counter-increment: step;
  }

  .step:before {
    @apply absolute w-9 h-9 bg-muted rounded-full font-mono font-medium text-center text-base inline-flex items-center justify-center -indent-px border-4 border-background;
    @apply ml-[-50px] mt-[-4px];
    content: counter(step);
  }
}

.text-gradient_brand {
  background: linear-gradient(
    15deg,
    rgba(var(--secondaryColorRGB) / 80%) 0%,
    var(--primaryColor) 100%
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
}
